#flyer {
    margin-left: auto;
    margin-right: auto;
    width: device-width;
    display: block;
    /* margin-top: 10px; */
    text-align: center;

}

/* .navbar.color {
    background-color: rgb(0, 0, 0);
    color: thistle;
} */

/* .item-carousel{
    height: 40vh;
    align-content: center;
    padding-left: 35px;
    padding-right: 35px;
    height: 250px;
    width: 250px;
} */
/* 
.item-carousel>a{
    float: left;
} */


/* ************** */
/* .carousel-item {
    border: 1px solid #333;
    height: 250px;
    width: 250px;
  } */
/* 
  .center {
    display: table;
    height: 100%;
    width: 100%;
  }

  .item-carousel  {
    display: table-cell;
    vertical-align: middle; 
  }  */


  .carousel-item{
    padding-top: auto;
    padding-bottom: 0px;
    height: 500px;
    padding-left: 20vh;
  }